* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(66, 1, 76);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: column;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
    background-color: aquamarine;
}

div.info {
    border: beige 1px solid;
    background-color: beige;
    width: 50%;
}

.info {
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

form>div {
    margin: 10px;
    font-size: x-large;
}

button {
    margin: 10px;
    width: 40px auto;
    height: 40px;
}